.education-container {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  text-align: left;
}

.educationCard {
  background-color: black;
  box-shadow: inset;
  width: 100%;             /* take full width of container */
  max-width: 487px;        /* prevent it from growing too wide */
  height: auto;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 15px;

  img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: -17px;
    margin-left: -10px;
    max-height: 250px;
    min-height: 250px;
    width: calc(100% + 20px); /* adjust for negative margins */
    max-width: 100%;
    height: auto;             /* keep aspect ratio */
    object-fit: cover;
  }
}

/* Extra fine-tuning for very small devices */
@media (max-width: 480px) {
  .education-container {
    padding: 5%;
  }

  .educationCard {
    padding: 5px;

    img {
      margin-top: 0;
      margin-left: 0;
      width: 100%;
    }
  }
}




.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10px;
    justify-content: center;
}
